body {
    /*background-color: black;*/
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),url('../GI1.jpg');
    overflow-x: hidden;
    color: white;
    scroll-behavior: smooth;
    background-attachment: fixed;
}

.navbar .nav {
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 767px) {
  .navbar .nav {
    display: flex;
    flex-direction: column;
  }
  .navbar .nav li {
    width: 100%;
    background-color: black;
  }
  .navbar {
    padding: 0px;
  }
  .navbar .navbar-brand {
    padding-bottom: 0px;
    padding-left: 5px;
  }
}
/*
.navbar .navbar-brand:hover {
  opacity: 0;
}
.navbar .navbar-brand:hover::after {
  content: "Join!"
  color: white;
}
*/
.spacer-2 {
  height: 15vh;
}
.col {
  display: flex;
  flex-direction: column;
}

input:not([type=checkbox]):not([type=radio]),
button {
  display: block;
  width: 15vw;
  border-radius: 5px;
  margin-top: 5vh;
  height: 6vh;
  font-size: 2.5vh;
  min-width: 170px;
}
.first-img {
  width: 55%;
  height: auto;
  margin-left: 5%;
}
.second-img {
  width: 35%;
  height: auto;
}
.disclaimer {
  font-size: 7px;
  text-align: center;
  width: 20vw;
}
.text-primary {
  font-size: 30px;
  opacity: .7;
}
.text-primary:hover {
  opacity:1;
}
.navbar-toggler {
  -webkit-user-select: none;
  margin-top: 0px;
}

:target:before {
content:"";
display:block;
height:300px; /* fixed header height*/
margin:-300px 0 0; /* negative fixed header height */
}

#get-involved {

}

#get-involved .row:first-child input:not([type=checkbox]):not([type=radio]) {
  height: 40px;
  margin-top: 10px;
  padding: 15px 10px;
  font-size: 20px;
}

div.text-center.button button{
  margin-left: 40vw;
}

.align-self-center {
  padding-top: 10%;
}

#s-popup, #e-popup {
  position: absolute;
  top: -10vh;
  left: 25vw;
  width: 50vw;
  text-align: center;
  z-index: 10;
  opacity: 0;
}

h6 {
  margin-top: 10px;
}
