body {
  background-color: black;
  overflow-x: hidden;
  color: white;
  scroll-behavior: smooth;
}
.navbar {
  position: fixed;
  height: 7vh;
  z-index: 999;
  /*opacity: .7;*/
  width: 100vw;
  background-color: black;
}
.navbar .nav {
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 767px) {
  .navbar .nav {
    display: flex;
    flex-direction: column;
  }
  .navbar .nav li {
    width: 100%;
    background-color: black;
  }
  .navbar {
    padding: 0px;
  }
  .navbar .navbar-brand {
    padding-bottom: 0px;
    padding-left: 5px;
  }
}
/*
.navbar .navbar-brand:hover {
  opacity: 0;
}
.navbar .navbar-brand:hover::after {
  content: "Join!"
  color: white;
}
*/
.spacer {
  height: 7vh;
}
.navbar .nav li a{
  margin-right: auto;
  margin-left: auto;
  width: auto;
  border: 1px solid rgb(22,127,251);
  padding: 3px;
  text-align: center;
  transition: .3s;
  padding-left: 15px;
  padding-right: 15px;
}
.navbar .nav {
  display: flex;
  justify-content: space-around;
}
.nav {
  width: 100%;
}
.navbar .nav li:hover a{
  text-decoration: none !important;
  background-color: rgb(22,127,251);
  color: white;
  transition: .3s;
}
.navbar .nav li a.active {
  background-color: rgb(22,127,251) !important;
  color: white !important;
}
.nav-img {
  height: 6vh;
  width: auto;
}
.col {
  display: flex;
  flex-direction: column;
}
input:not([type=checkbox]):not([type=radio]),
button {
  width: 15vw;
  border-radius: 5px;
  margin-top: 5vh;
  height: 6vh;
  font-size: 2.5vh;
  min-width: 170px;
}
.first-img {
  width: 55%;
  height: auto;
  margin-left: 5%;
}
.second-img {
  width: 35%;
  height: auto;
}
.disclaimer {
  font-size: 7px;
  text-align: center;
  width: 20vw;
}
.text-primary {
  font-size: 30px;
  opacity: .7;
}
.text-primary:hover {
  opacity:1;
}
.navbar-toggler {
  -webkit-user-select: none;
  margin-top: 0px;
}

:target:before {
content:"";
display:block;
height:300px; /* fixed header height*/
margin:-300px 0 0; /* negative fixed header height */
}

#get-involved {

}

#get-involved .row:first-child input:not([type=checkbox]):not([type=radio]) {
  height: 40px;
  margin-top: 10px;
  padding: 15px 10px;
  font-size: 20px;
}

div.text-center.button button{
  margin-left: 40vw;
}

.align-self-center {
  padding-top: 10%;
}

#s-popup, #e-popup {
  position: absolute;
  top: -10vh;
  left: 25vw;
  width: 50vw;
  text-align: center;
  z-index: 10;
  opacity: 0;
}

h6 {
  margin-top: 10px;
}
