body
{
    background-color: black;
}

    body ::selection {
        color: red;
        /*background-color: #0d3287;*/
    }

p {
    color: #363a3f;
}

.buffer{
    height: 1px;
}

.spacer{
    margin-top: 7%;
}

div.format {
    font-family: 'ABeeZee', sans-serif;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1.15em;
}

.red{
    color: red;
    display: inline;
}
p.click {
    color: #d9d9d9;
    margin-top: 3%;
}

h1.heading {
    font-weight: bold;
    font-family: 'League Script', cursive;
    margin-left: -3.5%;
    background-position: top left;
    color: transparent;
    background: linear-gradient(90deg,#af2896,#509bf5);
    -webkit-background-clip: text;
    display: inline-block;
}

footer.heading {
    font-weight: bold;
    font-family: 'League Script', cursive;
    font-size: 2.5em;
}
    .gradient-box {
    margin: 0px -5% 5vh -5%;
    /*max-width: 50%;*/
    position: relative;
    box-sizing: border-box;
    background: #000;
    background-clip: padding-box;
    /* !importanté */
    border: solid 5px transparent;
    /* !importanté */
    border-radius: 1em;
}

    .gradient-box:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        margin: -1px;
        /* !importanté */
        border-radius: inherit;
        /* !importanté */
        background: linear-gradient(to right, red, orange);
    }

p.genie {
    background-position: center;
    background: linear-gradient(to left, #4a0c96, #e0502a);
    background-size: cover;
    background-attachment: fixed;
    -webkit-background-clip: text;
    display: inline-block;
    color: transparent;
    font-weight: bold;
}
/*animation stuff*/
div.slideIn {
    animation-name: hide, slideIn;
    animation-duration: 0.8s, 1s;
    animation-timing-function: ease-in;
    /*animation-timing-function: cubic-bezier(0.640, 0.175, 0.560, 0.660);*/
    animation-iteration-count: 1;
    opacity: 1;
    margin-bottom: 2%;
}

    div.slideIn.first {
        animation-delay: 0s, 0s;
    }

    div.slideIn.second {
        animation-delay: 0s, 0.5s;
    }

    div.slideIn.third {
        animation-duration: 1s;
        animation-delay: 0s, 1s;
    }
    div.slideIn.th4 {
        animation-duration: 1.5s;
        animation-delay: 0s, 1.5s;
    }
    div.slideIn.th5 {
        animation-duration: 2s;
        animation-delay: 0s, 2s;
    }
    div.slideIn.th6 {
        animation-duration: 2.5s;
        animation-delay: 0s, 2.5s;
    }
    div.slideIn.th7 {
        animation-duration: 3.8s;
        animation-delay: 0s, 3.8s;
    }
    div.slideIn.th8 {
        margin-top: 3%;
        animation-duration: 5s;
        animation-delay: 0s, 5s;
    }
    div.slideIn.th9 {
        margin-top: -1.5%;
        animation-duration: 5.5s;
        animation-delay: 0s, 5.5s;
    }
    div.slideIn.th10 {
        margin-top: 1%;
        animation-duration: 6s;
        animation-delay: 0s, 6s;
        font-family: 'Roboto', sans-serif;
        font-size: 0.85em;
    }
    @keyframes hide {
            from {
        opacity: 0;
    }

    to {
        opacity: 0;
    }
}

@keyframes slideIn {
    0% {
        opacity: 0;
    }

    /*55% {
        opacity: 0.7;
    }*/

    100% {
        opacity: 1;
    }
}
