body
{
    background-color: black;
}

p {
    color: #363a3f;
}

.buffer{
    height: 1px;
}

.spacer{
    margin-top: 7%;
}

div.format {
    font-family: 'ABeeZee', sans-serif;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1.15em;
}

h1.heading {
    font-weight: bold;
    font-family: 'League Script', cursive;
    margin-left: -3.5%;
    background-position: top left;
    color: transparent;
    background: linear-gradient(90deg,#af2896,#509bf5);
    -webkit-background-clip: text;
    display: inline-block;
}

/*hr.hrheading {
    margin-top: 3px;
    border-top: 1px solid white;
}*/

.gradient-box {
    margin: 0px -5% 5vh -5%;
    /*max-width: 50%;*/
    position: relative;
    box-sizing: border-box;
    background: #000;
    background-clip: padding-box;
    /* !importanté */
    border: solid 5px transparent;
    /* !importanté */
    border-radius: 1em;
}

    .gradient-box:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        margin: -1px;
        /* !importanté */
        border-radius: inherit;
        /* !importanté */
        background: linear-gradient(to right, red, orange);
    }

p.genie {
    background-position: center;
    background: linear-gradient(to left, #4a0c96, #e0502a);
    background-size: cover;
    background-attachment: fixed;
    -webkit-background-clip: text;
    display: inline-block;
    color: transparent;
    font-weight: bold;
}
/*animation stuff*/
div.slideIn {
    animation-name: hide, slideIn;
    animation-duration: 0.8s, 1s;
    animation-timing-function: ease-in;
    /*animation-timing-function: cubic-bezier(0.000, 0.900, 0.500, 0.750);*/
    animation-iteration-count: 1;
    opacity: 1;
    margin-bottom: 2%;
}

    div.slideIn.first {
        animation-delay: 0s, 0s;
    }

    div.slideIn.second {
        animation-delay: 0s, 0.5s;
    }

    div.slideIn.third {
        animation-duration: 1s;
        animation-delay: 0s, 1s;
    }
    div.slideIn.th4 {
        animation-duration: 1.5s;
        animation-delay: 0s, 1.5s;
    }
    div.slideIn.th5 {
        animation-duration: 2s;
        animation-delay: 0s, 2s;
    }
    div.slideIn.th6 {
        animation-duration: 2.5s;
        animation-delay: 0s, 2.5s;
    }

@keyframes hide {
    from {
        opacity: 0;
    }

    to {
        opacity: 0;
    }
}

@keyframes slideIn {
    0% {
        opacity: 0;
        /*margin-left: -20%;*/
    }


    100% {
        opacity: 1;
        /*margin-left: -5%;*/
    }
}
